@page "/du-lieu-san-xuat-ung-dung-cong-nghe-cao"
@using CoreAdminWeb.Enums
@using CoreAdminWeb.Exceptions
@using CoreAdminWeb.Extensions
@using CoreAdminWeb.Helpers
@using CoreAdminWeb.Model
@using CoreAdminWeb.Model.CoSoTrongTrotSanXuat
@using CoreAdminWeb.Shared.Base
@inherits BlazorCoreBase
@layout MainLayout

<PageHeader Title="Dữ liệu Sản xuất ứng dụng công nghệ cao." pTitle="Dữ liệu Sản xuất ứng dụng công nghệ cao."></PageHeader>

<!-- Start All Card -->
<div class="flex flex-col gap-4 min-h-[calc(100vh-212px)]">
    <div class="grid grid-cols-1 gap-4">
        <div class="card">
            @if (IsLoading)
            {
                <div class="flex flex-col items-center justify-center gap-3">
                    <div class="w-full h-4 rounded-full bg-gray-200">
                        <div class="h-4 rounded-full bg-success animate-progress"
                             style="background-image: linear-gradient(45deg,hsla(0,0%,100%,.15) 25%,transparent 0,transparent 50%,hsla(0,0%,100%,.15) 0,hsla(0,0%,100%,.15) 75%,transparent 0,transparent); background-size: 1rem 1rem;">
                        </div>
                    </div>
                </div>
            }

            <div class="flex items-end justify-between flex-1 gap-2 sm:gap-4">
                <!-- Left: Filter Area -->
                <div class="w-full grid grid-cols-1 gap-4 md:grid-cols-4 xl:grid-cols-4 sm:gap-4 md:w-4/5 pb-2">
                    <div class="xs:col-span-4 sm:col-span-4 md:col-span-1 xl:col-span-1">
                        <MudForm class="flex-1">
                            <MudText Typo="Typo.h2" Class="mb-1 text-base font-semibold capitalize text-slate-800 dark:text-slate-100">Tìm kiếm</MudText>
                            <div class="relative">
                                <input type="text" id="search"
                                       class="border-black/10 dark:text-white/80 dark:placeholder:text-white/30 dark:border-darkborder dark:bg-dark dark:focus:border-white/30 focus:border-black/30 placeholder:text-black/50 border text-black text-sm rounded block w-full ltr:pl-3 rtl:pr-3 ltr:pr-7 rtl:pl-7 h-10 bg-[#f9fbfd] focus:ring-0 focus:outline-0"
                                       placeholder="Tìm kiếm..."
                                       required=""
                                       @bind-value="@_searchString"
                                       @bind-value:event="oninput"
                                       @onkeydown="async (e) => await OnInputKeyDownSearch(e, LoadData)">

                                <MudButton OnClick="LoadData" type="button" Class="absolute inset-y-0 flex items-center text-black ltr:right-0 rtl:left-0 ltr:pr-2 rtl:pl-2 dark:text-white/80">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="w-4 h-4">
                                        <path d="M11 2C15.968 2 20 6.032 20 11C20 15.968 15.968 20 11 20C6.032 20 2 15.968 2 11C2 6.032 6.032 2 11 2ZM11 18C14.8675 18 18 14.8675 18 11C18 7.1325 14.8675 4 11 4C7.1325 4 4 7.1325 4 11C4 14.8675 7.1325 18 11 18ZM19.4853 18.0711L22.3137 20.8995L20.8995 22.3137L18.0711 19.4853L19.4853 18.0711Z" fill="currentColor"></path>
                                    </svg>
                                </MudButton>
                            </div>
                        </MudForm>
                    </div>
                    <div class="xs:col-span-4 sm:col-span-4 md:col-span-1 xl:col-span-1">
                        <MudText Typo="Typo.h2" Class="mb-1 text-base font-semibold capitalize text-slate-800 dark:text-slate-100">Tỉnh/Thành phố</MudText>
                        <BlazoredTypeahead EnableDropDown="true"
                                           ShowDropDownOnFocus="true"
                                           MinimumLength="0"
                                           TItem="TinhModel"
                                           TValue="TinhModel"
                                           SearchMethod="LoadTinhData"
                                           Value="_selectedTinhFilter"
                                           ValueExpression="@(() => _selectedTinhFilter)"
                                           ValueChanged="OnTinhFilterChanged"
                                           placeholder="Chọn tỉnh thành"
                                           Class="form-select">
                            <SelectedTemplate Context="item">
                                @item.name
                            </SelectedTemplate>
                            <ResultTemplate Context="item">
                                @item.name
                            </ResultTemplate>
                            <NotFoundTemplate Context="item">
                                Không tìm thấy dữ liệu
                            </NotFoundTemplate>
                        </BlazoredTypeahead>
                    </div>
                    <div class="xs:col-span-4 sm:col-span-4 md:col-span-1 xl:col-span-1">
                        <MudText Typo="Typo.h2" Class="mb-1 text-base font-semibold capitalize text-slate-800 dark:text-slate-100">Thời gian</MudText>
                        <div class="flex items-center gap-2 sm:gap-4">
                            <input type="text"
                                   class="form-input date-picker w-1/2"
                                   placeholder="Chọn ngày bắt đầu"
                                   value="@(_selectedFromDateFilter?.ToString("dd/MM/yyyy"))"
                                   @onchange="@(e => OnDateChanged(e, nameof(_selectedFromDateFilter), isFilter: true))" />
                            <span class="mx-2 flex items-center text-gray-500">-</span>
                            <input type="text"
                                   class="form-input date-picker w-1/2"
                                   placeholder="Chọn ngày kết thúc"
                                   value="@(_selectedToDateFilter?.ToString("dd/MM/yyyy"))"
                                   @onchange="@(e => OnDateChanged(e, nameof(_selectedToDateFilter), isFilter: true))" />
                        </div>
                    </div>
                </div>

                <div class="flex items-end md:w-1/5 justify-end py-2">
                    <div>
                        <MudButton Class="xs:w-full sm:w-auto md:w-auto btn flex items-center gap-1.5
                        bg-success border-success text-white hover:bg-success/[0.85]
                        hover:border-success/[0.85] text-nowrap" @onclick="@(e => OpenAddOrUpdateModal(null))">
                            <i class="ri-add-line"></i>
                            Thêm mới
                        </MudButton>
                    </div>
                </div>
            </div>

            <table id="example" class="display" style="width:100%">
                <thead>
                    <tr>
                        <th>STT</th>
                        <th>TG bắt đầu</th>
                        <th>Đơn vị thực hiện</th>
                        <th>Mô hình</th>
                        <th>Địa điểm</th>
                        <th>Cây trồng</th>
                        <th>Diện tích</th>
                        <th>Sản lượng</th>
                        <th>Công nghệ</th>
                        <th class="flex items-center gap-2">Tác vụ</th>
                    </tr>
                </thead>
                <tbody>

                    @foreach (var item in MainModels.Select((v, i) => new { Data = v, Index = i }))
                    {
                        <tr>
                            <td>@(((Page - 1) * PageSize) + item.Index + 1)</td>
                            <td>@item.Data.thoi_gian_bat_dau?.ToString("dd/MM/yyyy")</td>
                            <td>@item.Data.co_so_trong_trot_san_xuat?.name</td>
                            <td>@item.Data.mo_hinh_du_an</td>
                            <td>@item.Data.dia_diem_trien_khai</td>
                            <td>@string.Join(", ", item.Data.loai_cay_trong?.Where(c => c.deleted == null || c.deleted == false).Select(c => c.loai_cay_trong?.name).Where(c => !string.IsNullOrEmpty(c)) ?? new List<string>())</td>
                            <td>@item.Data.loai_cay_trong?.Where(c => c.deleted == null || c.deleted == false).Sum(c => c.dien_tich)</td>
                            <td>@item.Data.loai_cay_trong?.Where(c => c.deleted == null || c.deleted == false).Sum(c => c.san_luong)</td>
                            <td>@item.Data.cong_nghe_giong_cay_trong</td>
                            <td class="flex items-center gap-2">
                                <MudButton Class="transition-all duration-300 border btn-crud rounded-md btn text-purple border-purple hover:bg-purple hover:text-white"
                                           @onclick="@(e => OpenAddOrUpdateModal(item.Data))">
                                    <i class="ri-edit-line"></i>
                                </MudButton>
                                <MudButton Class="transition-all duration-300 border btn-crud rounded-md btn text-danger border-danger hover:bg-danger hover:text-white"
                                           @onclick="@(e => OpenDeleteModal(item.Data))">
                                    <i class="ri-delete-bin-line"></i>
                                </MudButton>
                            </td>
                        </tr>
                    }
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="9">
                            <div class="flex items-center justify-between p-4">
                                <div class="flex items-center gap-2">
                                    <span>Hiển thị</span>
                                    <select class="form-select" @bind="PageSize" @bind:event="oninput" @onchange="OnPageSizeChanged">
                                        <option value="10">10</option>
                                        <option value="25">25</option>
                                        <option value="50">50</option>
                                        <option value="100">100</option>
                                    </select>
                                    <span>mục</span>
                                </div>
                                <div class="flex items-center gap-2">

                                    <div>
                                        <ul class="inline-flex my-2 -space-x-px list-inside">
                                            <li><MudLink Href="#" Class="px-3 py-2 bg-white border cursor-not-allowed ltr:ml-0 rtl:mr-0 ltr:rounded-l-lg rtl:rounded-r-lg text-black/50 border-black/10 dark:bg-transparent dark:text-darkmuted dark:border-darkborder" @onclick="PreviousPage" disabled="@(Page <= 1)">Trước</MudLink></li>
                                            @{
                                                var startPage = Math.Max(1, Page - 1);
                                                var endPage = Math.Min(TotalPages, Page + 1);

                                                // Always show first page
                                                <li>
                                                    <a href="#"
                                                       class="px-3 py-2 text-black  border border-black/10 hover:bg-purple hover:text-white dark:bg-transparent dark:text-white dark:border-darkborder dark:hover:bg-purple dark:hover:text-white dark:hover:border-purple @(Page == 1 ? "bg-purple text-white" : "bg-white")"
                                                       @onclick="() => SelectedPage(1)">1</a>
                                                </li>

                                                // Show ellipsis if needed
                                                if (startPage > 2)
                                                {
                                                    <li><span class="px-3 py-2">...</span></li>
                                                }

                                                // Show pages around current page
                                                for (int i = startPage; i <= endPage; i++)
                                                {
                                                    if (i > 1 && i < TotalPages)
                                                    {
                                                        <li>
                                                            <a href="#"
                                                               class="px-3 py-2 text-black  border border-black/10
                                                                                                                                                                                                        hover:bg-purple hover:text-white dark:bg-transparent
                                                                                                                                                                                                        dark:text-white dark:border-darkborder dark:hover:bg-purple
                                                                                                                                                                                                        dark:hover:text-white dark:hover:border-purple @(Page == i ? "bg-purple text-white" : "bg-white")"
                                                               @onclick="() => SelectedPage(i)">@i</a>
                                                        </li>
                                                    }
                                                }

                                                // Show ellipsis if needed
                                                if (endPage < TotalPages - 1)
                                                {
                                                    <li><span class="px-3 py-2">...</span></li>
                                                }

                                                // Always show last page if there is more than one page
                                                if (TotalPages > 1)
                                                {
                                                    <li>
                                                        <a href="#"
                                                           class="px-3 py-2 text-black  border border-black/10 hover:bg-purple hover:text-white dark:bg-transparent dark:text-white dark:border-darkborder dark:hover:bg-purple dark:hover:text-white dark:hover:border-purple @(Page == TotalPages ? "bg-purple text-white" : "bg-white")"
                                                           @onclick="() => SelectedPage(TotalPages)">@TotalPages</a>
                                                    </li>
                                                }
                                            }
                                            <li><MudLink Href="#" Class="px-3 py-2 bg-white border cursor-not-allowed ltr:ml-0 rtl:mr-0 ltr:rounded-r-lg rtl:rounded-l-lg text-black/50 border-black/10 dark:bg-transparent dark:text-darkmuted dark:border-darkborder" @onclick="NextPage" disabled="@(Page >= TotalPages)">Sau</MudLink></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>
<!-- End All Card -->
@if (openDeleteModal)
{
    <div class="fixed inset-0 bg-black/80 z-[99999] overflow-y-auto dark:bg-dark/90">
        <div class="flex items-center justify-center min-h-screen px-4" @onclick="CloseDeleteModal">
            <div class="relative w-full max-w-lg p-0 my-8 overflow-hidden bg-white border rounded-lg border-black/10 dark:bg-darklight dark:border-darkborder" @onclick:stopPropagation>
                <div class="flex items-center justify-between px-5 py-3 bg-white border-b border-black/10 dark:bg-darklight dark:border-darkborder">
                    <MudText Typo="Typo.h5" Class="text-lg font-semibold text-slate-800 dark:text-slate-100">Xóa</MudText>
                    <MudButton Class="text-muted hover:text-black dark:hover:text-white" OnClick="CloseDeleteModal">
                        <svg class="w-5 h-5" width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M24.2929 6.29289L6.29289 24.2929C6.10536 24.4804 6 24.7348 6 25C6 25.2652 6.10536 25.5196 6.29289 25.7071C6.48043 25.8946 6.73478 26 7 26C7.26522 26 7.51957 25.8946 7.70711 25.7071L25.7071 7.70711C25.8946 7.51957 26 7.26522 26 7C26 6.73478 25.8946 6.48043 25.7071 6.29289C25.5196 6.10536 25.2652 6 25 6C24.7348 6 24.4804 6.10536 24.2929 6.29289Z" fill="currentcolor" />
                            <path d="M7.70711 6.29289C7.51957 6.10536 7.26522 6 7 6C6.73478 6 6.48043 6.10536 6.29289 6.29289C6.10536 6.48043 6 6.73478 6 7C6 7.26522 6.10536 7.51957 6.29289 7.70711L24.2929 25.7071C24.4804 25.8946 24.7348 26 25 26C25.2652 26 25.5196 25.8946 25.7071 25.7071C25.8946 25.5196 26 25.2652 26 25C26 24.7348 25.8946 24.4804 25.7071 24.2929L7.70711 6.29289Z" fill="currentcolor" />
                        </svg>
                    </MudButton>
                </div>
                <div class="p-5 space-y-4">
                    <div class="text-black dark:text-muted">
                        <h3>Bạn có chắc chắn muốn xóa dữ liệu này không?</h3>
                    </div>
                    <div class="flex items-center justify-end gap-2">
                        <MudButton Class="transition-all duration-300 border btn-crud rounded-md btn text-danger border-danger hover:bg-danger hover:text-white" OnClick="CloseDeleteModal">Huỷ</MudButton>
                        <MudButton OnClick="async () => await OnDelete()" Class="transition-all duration-300 border btn-crud rounded-md btn text-purple border-purple hover:bg-purple hover:text-white">Xóa</MudButton>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
@if (openAddOrUpdateModal)
{
    <div class="fixed inset-0 bg-black/80 z-[99999] overflow-y-auto dark:bg-dark/90">
        <div class="flex items-center justify-center min-h-screen px-4" @onclick="CloseAddOrUpdateModal">
            <div class="relative w-full max-w-5xl p-0 my-8 overflow-hidden bg-white border rounded-lg border-black/10 dark:bg-darklight dark:border-darkborder" @onclick:stopPropagation>
                <div class="flex items-center justify-between px-5 py-3 bg-white border-b border-black/10 dark:bg-darklight dark:border-darkborder">
                    <MudText Typo="Typo.h5" Class="text-lg font-semibold text-slate-800 dark:text-slate-100">@_titleAddOrUpdate</MudText>
                    <MudButton Class="text-muted hover:text-black dark:hover:text-white" OnClick="CloseAddOrUpdateModal">
                        <svg class="w-5 h-5" width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M24.2929 6.29289L6.29289 24.2929C6.10536 24.4804 6 24.7348 6 25C6 25.2652 6.10536 25.5196 6.29289 25.7071C6.48043 25.8946 6.73478 26 7 26C7.26522 26 7.51957 25.8946 7.70711 25.7071L25.7071 7.70711C25.8946 7.51957 26 7.26522 26 7C26 6.73478 25.8946 6.48043 25.7071 6.29289C25.5196 6.10536 25.2652 6 25 6C24.7348 6 24.4804 6.10536 24.2929 6.29289Z" fill="currentcolor" />
                            <path d="M7.70711 6.29289C7.51957 6.10536 7.26522 6 7 6C6.73478 6 6.48043 6.10536 6.29289 6.29289C6.10536 6.48043 6 6.73478 6 7C6 7.26522 6.10536 7.51957 6.29289 7.70711L24.2929 25.7071C24.4804 25.8946 24.7348 26 25 26C25.2652 26 25.5196 25.8946 25.7071 25.7071C25.8946 25.5196 26 25.2652 26 25C26 24.7348 25.8946 24.4804 25.7071 24.2929L7.70711 6.29289Z" fill="currentcolor" />
                        </svg>
                    </MudButton>
                </div>
                <div class="p-5 space-y-4">
                    <EditForm Model="@SelectedItem" OnValidSubmit="OnValidSubmit">
                        <div class="text-black dark:text-muted">
                            <div class="grid grid-cols-1 mb-2 gap-4 md:grid-cols-2">
                                <div class="space-y-2 md:col-span-2">
                                    <label>Mô hình/dự án:</label>
                                    <input type="text" class="form-input" @bind-value="@SelectedItem.mo_hinh_du_an" Label="Nhập mô hình dự án" />
                                </div>
                                <div class="space-y-2 md:col-span-2">
                                    <label>Đơn vị thực hiện:</label>
                                    <BlazoredTypeahead EnableDropDown="true"
                                                       ShowDropDownOnFocus="true"
                                                       MinimumLength="0"
                                                       TItem="CoSoTrongTrotSanXuatModel"
                                                       TValue="CoSoTrongTrotSanXuatModel"
                                                       SearchMethod="LoadCoSoTrongTrotSanXuatData"
                                                       @bind-Value="SelectedItem.co_so_trong_trot_san_xuat"
                                                       placeholder="Chọn đơn vị"
                                                       Class="form-select">
                                        <SelectedTemplate Context="item">
                                            @item.name
                                        </SelectedTemplate>
                                        <ResultTemplate Context="item">
                                            @item.name
                                        </ResultTemplate>
                                        <NotFoundTemplate Context="item">
                                            Không tìm thấy dữ liệu
                                        </NotFoundTemplate>
                                    </BlazoredTypeahead>
                                </div>
                                <div class="space-y-2 md:col-span-1">
                                    <label>Tỉnh thành:</label>
                                    <BlazoredTypeahead EnableDropDown="true"
                                                       ShowDropDownOnFocus="true"
                                                       MinimumLength="0"
                                                       TItem="TinhModel"
                                                       TValue="TinhModel"
                                                       SearchMethod="LoadTinhData"
                                                       Value="SelectedItem.province"
                                                       ValueExpression="@(() => SelectedItem.province)"
                                                       ValueChanged="OnTinhChanged"
                                                       placeholder="Chọn tỉnh thành"
                                                       Class="form-select">
                                        <SelectedTemplate Context="item">
                                            @item.name
                                        </SelectedTemplate>
                                        <ResultTemplate Context="item">
                                            @item.name
                                        </ResultTemplate>
                                        <NotFoundTemplate Context="item">
                                            Không tìm thấy dữ liệu
                                        </NotFoundTemplate>
                                    </BlazoredTypeahead>
                                </div>
                                <div class="space-y-2 md:col-span-1">
                                    <label>Xã phường:</label>
                                    <BlazoredTypeahead EnableDropDown="true"
                                                       ShowDropDownOnFocus="true"
                                                       MinimumLength="0"
                                                       TItem="XaPhuongModel"
                                                       TValue="XaPhuongModel"
                                                       SearchMethod="LoadXaData"
                                                       Value="SelectedItem.ward"
                                                       ValueExpression="@(() => SelectedItem.ward)"
                                                       ValueChanged="OnXaChanged"
                                                       placeholder="Chọn xã phường"
                                                       Class="form-select">
                                        <SelectedTemplate Context="item">
                                            @item.name
                                        </SelectedTemplate>
                                        <ResultTemplate Context="item">
                                            @item.name
                                        </ResultTemplate>
                                        <NotFoundTemplate Context="item">
                                            Không tìm thấy dữ liệu
                                        </NotFoundTemplate>
                                    </BlazoredTypeahead>
                                </div>
                                <div class="space-y-2 md:col-span-2">
                                    <label>Địa điểm triển khai*:</label>
                                    <input type="text" class="form-input" @bind-value="@SelectedItem.dia_diem_trien_khai" Label="Chọn địa điểm triển khai" />
                                </div>
                                <div class="space-y-2 md:col-span-1">
                                    <label>Thời gian bắt đầu:</label>
                                    <input type="text"
                                           class="form-input date-picker"
                                           placeholder="Chọn ngày bắt đầu"
                                           value="@(SelectedItem.thoi_gian_bat_dau?.ToString("dd/MM/yyyy"))"
                                           @onchange="@(e => OnDateChanged(e, nameof(SelectedItem.thoi_gian_bat_dau)))" />
                                </div>
                                <div class="space-y-2 md:col-span-1">
                                    <label>Thời gian kết thúc:</label>
                                    <input type="text"
                                           class="form-input date-picker"
                                           placeholder="Chọn ngày kết thúc"
                                           value="@(SelectedItem.thoi_gian_ket_thuc?.ToString("dd/MM/yyyy"))"
                                           @onchange="@(e => OnDateChanged(e, nameof(SelectedItem.thoi_gian_ket_thuc)))" />
                                </div>
                                <div class="space-y-2 md:col-span-2">
                                    <label>Công nghệ canh tác:</label>
                                    <input type="text" class="form-input" @bind-value="@SelectedItem.cong_nghe_canh_tac" Label="Nhập công nghệ canh tác" />
                                </div>
                                <div class="space-y-2 md:col-span-2">
                                    <label>Công nghệ giống cây trồng:</label>
                                    <input type="text" class="form-input" @bind-value="@SelectedItem.cong_nghe_giong_cay_trong" Label="Nhập công nghệ giống cây trồng" />
                                </div>

                                <div class="space-y-2 md:col-span-2">
                                    <label>Mục tiêu:</label>
                                    <textarea rows="3" class="form-input form-textarea" @bind="@SelectedItem.muc_tieu"></textarea>
                                </div>
                                <div class="space-y-2 md:col-span-2">
                                    <div x-data="{activeDefTab:'tab1'}" class="w-full">
                                        <ul class="flex flex-wrap text-sm text-center border-b border-black/10 dark:border-darkborder">
                                            <li class="ltr:mr-2 rtl:ml-2">
                                                <MudLink Href="javascript:;"
                                                         OnClick="@(() => {OnTabChanged("tab1");})"
                                                         Class="@($"inline-block p-4 rounded-t-lg {(activeDefTab == "tab1" ? "bg-purple/10 text-purple" : "bg-transparent font-normal text-muted dark:hover:text-purple hover:bg-purple/10 hover:text-purple")}")">
                                                    Loại cây trồng
                                                </MudLink>
                                            </li>
                                        </ul>
                                        <div class="tab-content mt-3 text-[13px]">
                                            @switch (activeDefTab)
                                            {
                                                case "tab1":
                                                    <div class="text-black dark:text-muted">
                                                        <div class="grid grid-cols-1 gap-4 md:grid-cols-2">
                                                            <div class="space-y-2 md:col-span-2">
                                                                <table id="chitiet" class="display" style="width:100%">
                                                                    <thead>
                                                                        <tr>
                                                                            <th>STT</th>
                                                                            <th>Cây trồng</th>
                                                                            <th>Diện tích (ha)</th>
                                                                            <th>Sản lượng (tấn)</th>
                                                                            <th class="flex items-center gap-2">Tác vụ</th>
                                                                        </tr>
                                                                    </thead>
                                                                    <tbody>
                                                                        @foreach (var item in SelectedLoaiCayTrongItemsDetail.Where(c => c.deleted == null || c.deleted == false).Select((v, i) => new { Data = v, Index = i }))
                                                                        {
                                                                            <tr>
                                                                                <td>@(item.Index + 1)</td>
                                                                                <td>
                                                                                    <BlazoredTypeahead EnableDropDown="true"
                                                                                                       ShowDropDownOnFocus="true"
                                                                                                       MinimumLength="0"
                                                                                                       TItem="LoaiCayTrongModel"
                                                                                                       TValue="LoaiCayTrongModel"
                                                                                                       SearchMethod="LoadLoaiCayTrongData"
                                                                                                       @bind-Value="item.Data.loai_cay_trong"
                                                                                                       placeholder="Chọn cây trồng"
                                                                                                       Class="form-select">
                                                                                        <SelectedTemplate Context="item">
                                                                                            @item.name
                                                                                        </SelectedTemplate>
                                                                                        <ResultTemplate Context="item">
                                                                                            @item.name
                                                                                        </ResultTemplate>
                                                                                        <NotFoundTemplate Context="item">
                                                                                            Không tìm thấy dữ liệu
                                                                                        </NotFoundTemplate>
                                                                                    </BlazoredTypeahead>
                                                                                </td>
                                                                                <td>
                                                                                    <input type="number" class="form-input" step="0.0001" @bind-value="@item.Data.dien_tich" Label="Nhập diện tích" />
                                                                                </td>
                                                                                <td>
                                                                                    <input type="number" class="form-input" step="0.0001" @bind-value="@item.Data.san_luong" Label="Nhập sản lượng" />
                                                                                </td>
                                                                                <td class="flex items-center gap-2">
                                                                                    <MudButton Class="transition-all duration-300 border btn-crud rounded-md btn text-danger border-danger hover:bg-danger hover:text-white"
                                                                                               @onclick="@(e => OpenLoaiCayTrongDetailDeleteModal(item.Data))">
                                                                                        <i class="ri-delete-bin-line"></i>
                                                                                    </MudButton>
                                                                                </td>
                                                                            </tr>
                                                                        }
                                                                    </tbody>
                                                                </table>
                                                                <MudButton Class="transition-all duration-300 border btn-crud rounded-md btn text-purple border-purple hover:bg-purple hover:text-white" OnClick="OnAddLoaiCayTrong">Thêm dòng</MudButton>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    break;

                                                default:
                                                    <div>
                                                        <p>
                                                            Select a tab to view content.
                                                        </p>
                                                    </div>
                                                    break;
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="flex items-center justify-end gap-2 py-4">
                            <MudButton Class="transition-all duration-300 border btn-crud rounded-md btn text-danger border-danger hover:bg-danger hover:text-white" OnClick="CloseAddOrUpdateModal">Huỷ</MudButton>
                            <MudButton Class="transition-all duration-300 border btn-crud rounded-md btn text-purple border-purple hover:bg-purple hover:text-white"
                                       OnClick="OnValidSubmit">Lưu</MudButton>
                        </div>
                    </EditForm>
                </div>
            </div>
        </div>
    </div>
}

@if (openLoaiCayTrongDetailDeleteModal)
{
    <div class="fixed inset-0 bg-black/80 z-[99999] overflow-y-auto dark:bg-dark/90">
        <div class="flex items-center justify-center min-h-screen px-4" @onclick="CloseLoaiCayTrongDetailDeleteModal">
            <div class="relative w-full max-w-lg p-0 my-8 overflow-hidden bg-white border rounded-lg border-black/10 dark:bg-darklight dark:border-darkborder" @onclick:stopPropagation>
                <div class="flex items-center justify-between px-5 py-3 bg-white border-b border-black/10 dark:bg-darklight dark:border-darkborder">
                    <MudText Typo="Typo.h5" Class="text-lg font-semibold text-slate-800 dark:text-slate-100">Xóa</MudText>
                    <MudButton Class="text-muted hover:text-black dark:hover:text-white" OnClick="CloseLoaiCayTrongDetailDeleteModal">
                        <svg class="w-5 h-5" width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M24.2929 6.29289L6.29289 24.2929C6.10536 24.4804 6 24.7348 6 25C6 25.2652 6.10536 25.5196 6.29289 25.7071C6.48043 25.8946 6.73478 26 7 26C7.26522 26 7.51957 25.8946 7.70711 25.7071L25.7071 7.70711C25.8946 7.51957 26 7.26522 26 7C26 6.73478 25.8946 6.48043 25.7071 6.29289C25.5196 6.10536 25.2652 6 25 6C24.7348 6 24.4804 6.10536 24.2929 6.29289Z" fill="currentcolor" />
                            <path d="M7.70711 6.29289C7.51957 6.10536 7.26522 6 7 6C6.73478 6 6.48043 6.10536 6.29289 6.29289C6.10536 6.48043 6 6.73478 6 7C6 7.26522 6.10536 7.51957 6.29289 7.70711L24.2929 25.7071C24.4804 25.8946 24.7348 26 25 26C25.2652 26 25.5196 25.8946 25.7071 25.7071C25.8946 25.5196 26 25.2652 26 25C26 24.7348 25.8946 24.4804 25.7071 24.2929L7.70711 6.29289Z" fill="currentcolor" />
                        </svg>
                    </MudButton>
                </div>
                <div class="p-5 space-y-4">
                    <div class="text-black dark:text-muted">
                        <h3>Bạn có chắc chắn muốn xóa dữ liệu này không?</h3>
                    </div>
                    <div class="flex items-center justify-end gap-2">
                        <MudButton Class="transition-all duration-300 border btn-crud rounded-md btn text-danger border-danger hover:bg-danger hover:text-white" OnClick="CloseLoaiCayTrongDetailDeleteModal">Huỷ</MudButton>
                        <MudButton OnClick="OnLoaiCayTrongDetailDelete" Class="transition-all duration-300 border btn-crud rounded-md btn text-purple border-purple hover:bg-purple hover:text-white">Xóa</MudButton>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
