@page "/so-lieu-cac-don-vi-co-so-bi-dich-benh-gay-hai"
@using CoreAdminWeb.Enums
@using CoreAdminWeb.Exceptions
@using CoreAdminWeb.Extensions
@using CoreAdminWeb.Helpers
@using CoreAdminWeb.Model
@using CoreAdminWeb.Model.CoSoTrongTrotSanXuat
@using CoreAdminWeb.Shared.Base
@inherits BlazorCoreBase
@layout MainLayout

<PageHeader Title="Số liệu các đơn vị, cơ sở bị dịch bệnh gây hại" pTitle="Số liệu các đơn vị, cơ sở bị dịch bệnh gây hại"></PageHeader>

<!-- Start All Card -->
<div class="flex flex-col gap-4 min-h-[calc(100vh-212px)]">
    <div class="grid grid-cols-1 gap-4">
        <div class="card">
            @if (IsLoading)
            {
                <div class="flex flex-col items-center justify-center gap-3">
                    <div class="w-full h-4 rounded-full bg-gray-200">
                        <div class="h-4 rounded-full bg-success animate-progress"
                             style="background-image: linear-gradient(45deg,hsla(0,0%,100%,.15) 25%,transparent 0,transparent 50%,hsla(0,0%,100%,.15) 0,hsla(0,0%,100%,.15) 75%,transparent 0,transparent); background-size: 1rem 1rem;">
                        </div>
                    </div>
                </div>
            }

            <div class="flex items-end justify-between flex-1 gap-2 sm:gap-4">
                <!-- Left: Filter Area -->
                <div class="w-full grid grid-cols-1 gap-4 md:grid-cols-4 xl:grid-cols-4 sm:gap-4 md:w-4/5 pb-2">
                    <div class="xs:col-span-4 sm:col-span-4 md:col-span-1 xl:col-span-1">
                        <MudForm class="flex-1">
                            <MudText Typo="Typo.h2" Class="mb-4 text-base font-semibold capitalize text-slate-800 dark:text-slate-100">Tìm kiếm</MudText>
                            <div class="relative">
                                <input type="text" id="search"
                                       class="border-black/10 dark:text-white/80 dark:placeholder:text-white/30 dark:border-darkborder dark:bg-dark dark:focus:border-white/30 focus:border-black/30 placeholder:text-black/50 border text-black text-sm rounded block w-full ltr:pl-3 rtl:pr-3 ltr:pr-7 rtl:pl-7 h-10 bg-[#f9fbfd] focus:ring-0 focus:outline-0"
                                       placeholder="Tìm kiếm..."
                                       required=""
                                       @bind-value="@_searchString"
                                       @bind-value:event="oninput"
                                       @onkeydown="async (e) => await OnInputKeyDownSearch(e, LoadData)">

                                <MudButton OnClick="LoadData" type="button" Class="absolute inset-y-0 flex items-center text-black ltr:right-0 rtl:left-0 ltr:pr-2 rtl:pl-2 dark:text-white/80">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="w-4 h-4">
                                        <path d="M11 2C15.968 2 20 6.032 20 11C20 15.968 15.968 20 11 20C6.032 20 2 15.968 2 11C2 6.032 6.032 2 11 2ZM11 18C14.8675 18 18 14.8675 18 11C18 7.1325 14.8675 4 11 4C7.1325 4 4 7.1325 4 11C4 14.8675 7.1325 18 11 18ZM19.4853 18.0711L22.3137 20.8995L20.8995 22.3137L18.0711 19.4853L19.4853 18.0711Z" fill="currentColor"></path>
                                    </svg>
                                </MudButton>
                            </div>
                        </MudForm>
                    </div>

                    <div class="xs:col-span-4 sm:col-span-4 md:col-span-1 xl:col-span-1">
                        <MudText Typo="Typo.h2" Class="mb-4 text-base font-semibold capitalize text-slate-800 dark:text-slate-100">Vi sinh vật</MudText>
                        <BlazoredTypeahead EnableDropDown="true"
                                           ShowDropDownOnFocus="true"
                                           MinimumLength="0"
                                           TItem="ViSinhVatGayHaiModel"
                                           TValue="ViSinhVatGayHaiModel"
                                           SearchMethod="LoadViSinhVatGayHaiData"
                                           Value="_selectedViSinhVatGayHaiFilter"
                                           ValueExpression="@(() => _selectedViSinhVatGayHaiFilter)"
                                           ValueChanged="OnViSinhVatGayHaiFilterChanged"
                                           placeholder="Chọn đơn vị"
                                           Class="form-select">
                            <SelectedTemplate Context="item">
                                @item.name
                            </SelectedTemplate>
                            <ResultTemplate Context="item">
                                @item.name
                            </ResultTemplate>
                            <NotFoundTemplate Context="item">
                                Không tìm thấy dữ liệu
                            </NotFoundTemplate>
                        </BlazoredTypeahead>
                    </div>
                    <div class="xs:col-span-4 sm:col-span-4 md:col-span-1 xl:col-span-1">
                        <MudText Typo="Typo.h2" Class="mb-4 text-base font-semibold capitalize text-slate-800 dark:text-slate-100">Đơn vị</MudText>
                        <BlazoredTypeahead EnableDropDown="true"
                                           ShowDropDownOnFocus="true"
                                           MinimumLength="0"
                                           TItem="CoSoTrongTrotSanXuatModel"
                                           TValue="CoSoTrongTrotSanXuatModel"
                                           SearchMethod="LoadCoSoTrongTrotSanXuatData"
                                           Value="_selectedDonViFilter"
                                           ValueExpression="@(() => _selectedDonViFilter)"
                                           ValueChanged="OnDonViFilterChanged"
                                           placeholder="Chọn đơn vị"
                                           Class="form-select">
                            <SelectedTemplate Context="item">
                                @item.name
                            </SelectedTemplate>
                            <ResultTemplate Context="item">
                                @item.name
                            </ResultTemplate>
                            <NotFoundTemplate Context="item">
                                Không tìm thấy dữ liệu
                            </NotFoundTemplate>
                        </BlazoredTypeahead>
                    </div>
                    <div class="xs:col-span-4 sm:col-span-4 md:col-span-1 xl:col-span-1">
                        <MudText Typo="Typo.h2" Class="mb-4 text-base font-semibold capitalize text-slate-800 dark:text-slate-100">Thời gian</MudText>
                        <div class="flex items-center gap-2 sm:gap-4">
                            <input type="text"
                                   class="form-input date-picker w-1/2"
                                   placeholder="Chọn ngày bắt đầu"
                                   value="@(_selectedFromDateFilter?.ToString("dd/MM/yyyy"))"
                                   @onchange="@(e => OnDateChanged(e, nameof(_selectedFromDateFilter), isFilter: true))" />
                            <span class="mx-2 flex items-center text-gray-500">-</span>
                            <input type="text"
                                   class="form-input date-picker w-1/2"
                                   placeholder="Chọn ngày kết thúc"
                                   value="@(_selectedToDateFilter?.ToString("dd/MM/yyyy"))"
                                   @onchange="@(e => OnDateChanged(e, nameof(_selectedToDateFilter), isFilter: true))" />
                        </div>
                    </div>
                </div>

                <div class="flex items-end md:w-1/5 justify-end py-2">
                    <div>
                        <MudButton Class="xs:w-full sm:w-auto md:w-auto btn flex items-center gap-1.5
                        bg-success border-success text-white hover:bg-success/[0.85]
                        hover:border-success/[0.85] text-nowrap" @onclick="@(e => OpenAddOrUpdateModal(null))">
                            <i class="ri-add-line"></i>
                            Thêm mới
                        </MudButton>
                    </div>
                </div>
            </div>

            <table id="example" class="display" style="width:100%">
                <thead>
                    <tr>
                        <th>STT</th>
                        <th>Thời gian</th>
                        <th>Tên cây trồng</th>
                        <th>Tên vi sinh vật gây hại</th>
                        <th>Tổng diện tích thiệt hại</th>
                        <th>Đơn vị, cơ sở</th>
                        <th>Tỉnh thành</th>
                        <th>Xã phường</th>
                        <th class="flex items-center gap-2">Tác vụ</th>
                    </tr>
                </thead>
                <tbody>

                    @foreach (var item in MainModels.Select((v, i) => new { Data = v, Index = i }))
                    {
                        <tr>
                            <td>@(((Page - 1) * PageSize) + item.Index + 1)</td>
                            <td>@($"{item.Data.thoi_gian_bi_benh_tu?.ToString("dd/MM/yyyy")} {(item.Data.thoi_gian_bi_benh_tu.HasValue ? "-" : "")} {item.Data.thoi_gian_bi_benh_den?.ToString("dd/MM/yyyy")}")</td>
                            <th>@item.Data.cay_trong?.name</th>
                            <th>@string.Join(", ", item.Data.chi_tiet_dich_benh?.Where(c => c.deleted == null || c.deleted == false).Select(c => c.vi_sinh_vat_gay_hai?.name).Where(c => !string.IsNullOrEmpty(c)) ?? new List<string>())</th>
                            <th>@item.Data.chi_tiet_dich_benh?.Where(c => c.deleted == null || c.deleted == false).Sum(c => c.dien_tich)</th>
                            <td>@item.Data.co_so_trong_trot_san_xuat?.name</td>
                            <td>@item.Data.province?.name</td>
                            <td>@item.Data.ward?.name</td>
                            <td class="flex items-center gap-2">
                                <MudButton Class="transition-all duration-300 border btn-crud rounded-md btn text-purple border-purple hover:bg-purple hover:text-white"
                                           @onclick="@(e => OpenAddOrUpdateModal(item.Data))">
                                    <i class="ri-edit-line"></i>
                                </MudButton>
                                <MudButton Class="transition-all duration-300 border btn-crud rounded-md btn text-danger border-danger hover:bg-danger hover:text-white"
                                           @onclick="@(e => OpenDeleteModal(item.Data))">
                                    <i class="ri-delete-bin-line"></i>
                                </MudButton>
                            </td>
                        </tr>
                    }
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="9">
                            <div class="flex items-center justify-between p-4">
                                <div class="flex items-center gap-2">
                                    <span>Hiển thị</span>
                                    <select class="form-select" @bind="PageSize" @bind:event="oninput" @onchange="OnPageSizeChanged">
                                        <option value="10">10</option>
                                        <option value="25">25</option>
                                        <option value="50">50</option>
                                        <option value="100">100</option>
                                    </select>
                                    <span>mục</span>
                                </div>
                                <div class="flex items-center gap-2">

                                    <div>
                                        <ul class="inline-flex my-2 -space-x-px list-inside">
                                            <li><MudLink Href="#" Class="px-3 py-2 bg-white border cursor-not-allowed ltr:ml-0 rtl:mr-0 ltr:rounded-l-lg rtl:rounded-r-lg text-black/50 border-black/10 dark:bg-transparent dark:text-darkmuted dark:border-darkborder" @onclick="PreviousPage" disabled="@(Page <= 1)">Trước</MudLink></li>
                                            @{
                                                var startPage = Math.Max(1, Page - 1);
                                                var endPage = Math.Min(TotalPages, Page + 1);

                                                // Always show first page
                                                <li>
                                                    <a href="#"
                                                       class="px-3 py-2 text-black  border border-black/10 hover:bg-purple hover:text-white dark:bg-transparent dark:text-white dark:border-darkborder dark:hover:bg-purple dark:hover:text-white dark:hover:border-purple @(Page == 1 ? "bg-purple text-white" : "bg-white")"
                                                       @onclick="() => SelectedPage(1)">1</a>
                                                </li>

                                                // Show ellipsis if needed
                                                if (startPage > 2)
                                                {
                                                    <li><span class="px-3 py-2">...</span></li>
                                                }

                                                // Show pages around current page
                                                for (int i = startPage; i <= endPage; i++)
                                                {
                                                    if (i > 1 && i < TotalPages)
                                                    {
                                                        <li>
                                                            <a href="#"
                                                               class="px-3 py-2 text-black  border border-black/10
                                                                                                                                                                                        hover:bg-purple hover:text-white dark:bg-transparent
                                                                                                                                                                                        dark:text-white dark:border-darkborder dark:hover:bg-purple
                                                                                                                                                                                        dark:hover:text-white dark:hover:border-purple @(Page == i ? "bg-purple text-white" : "bg-white")"
                                                               @onclick="() => SelectedPage(i)">@i</a>
                                                        </li>
                                                    }
                                                }

                                                // Show ellipsis if needed
                                                if (endPage < TotalPages - 1)
                                                {
                                                    <li><span class="px-3 py-2">...</span></li>
                                                }

                                                // Always show last page if there is more than one page
                                                if (TotalPages > 1)
                                                {
                                                    <li>
                                                        <a href="#"
                                                           class="px-3 py-2 text-black  border border-black/10 hover:bg-purple hover:text-white dark:bg-transparent dark:text-white dark:border-darkborder dark:hover:bg-purple dark:hover:text-white dark:hover:border-purple @(Page == TotalPages ? "bg-purple text-white" : "bg-white")"
                                                           @onclick="() => SelectedPage(TotalPages)">@TotalPages</a>
                                                    </li>
                                                }
                                            }
                                            <li><MudLink Href="#" Class="px-3 py-2 bg-white border cursor-not-allowed ltr:ml-0 rtl:mr-0 ltr:rounded-r-lg rtl:rounded-l-lg text-black/50 border-black/10 dark:bg-transparent dark:text-darkmuted dark:border-darkborder" @onclick="NextPage" disabled="@(Page >= TotalPages)">Sau</MudLink></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>
<!-- End All Card -->
@if (openDeleteModal)
{
    <div class="fixed inset-0 bg-black/80 z-[99999] overflow-y-auto dark:bg-dark/90">
        <div class="flex items-center justify-center min-h-screen px-4" @onclick="CloseDeleteModal">
            <div class="relative w-full max-w-lg p-0 my-8 overflow-hidden bg-white border rounded-lg border-black/10 dark:bg-darklight dark:border-darkborder" @onclick:stopPropagation>
                <div class="flex items-center justify-between px-5 py-3 bg-white border-b border-black/10 dark:bg-darklight dark:border-darkborder">
                    <MudText Typo="Typo.h5" Class="text-lg font-semibold text-slate-800 dark:text-slate-100">Xóa</MudText>
                    <MudButton Class="text-muted hover:text-black dark:hover:text-white" OnClick="CloseDeleteModal">
                        <svg class="w-5 h-5" width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M24.2929 6.29289L6.29289 24.2929C6.10536 24.4804 6 24.7348 6 25C6 25.2652 6.10536 25.5196 6.29289 25.7071C6.48043 25.8946 6.73478 26 7 26C7.26522 26 7.51957 25.8946 7.70711 25.7071L25.7071 7.70711C25.8946 7.51957 26 7.26522 26 7C26 6.73478 25.8946 6.48043 25.7071 6.29289C25.5196 6.10536 25.2652 6 25 6C24.7348 6 24.4804 6.10536 24.2929 6.29289Z" fill="currentcolor" />
                            <path d="M7.70711 6.29289C7.51957 6.10536 7.26522 6 7 6C6.73478 6 6.48043 6.10536 6.29289 6.29289C6.10536 6.48043 6 6.73478 6 7C6 7.26522 6.10536 7.51957 6.29289 7.70711L24.2929 25.7071C24.4804 25.8946 24.7348 26 25 26C25.2652 26 25.5196 25.8946 25.7071 25.7071C25.8946 25.5196 26 25.2652 26 25C26 24.7348 25.8946 24.4804 25.7071 24.2929L7.70711 6.29289Z" fill="currentcolor" />
                        </svg>
                    </MudButton>
                </div>
                <div class="p-5 space-y-4">
                    <div class="text-black dark:text-muted">
                        <h3>Bạn có chắc chắn muốn xóa dữ liệu này không?</h3>
                    </div>
                    <div class="flex items-center justify-end gap-2">
                        <MudButton Class="transition-all duration-300 border btn-crud rounded-md btn text-danger border-danger hover:bg-danger hover:text-white" OnClick="CloseDeleteModal">Huỷ</MudButton>
                        <MudButton OnClick="async () => await OnDelete()" Class="transition-all duration-300 border btn-crud rounded-md btn text-purple border-purple hover:bg-purple hover:text-white">Xóa</MudButton>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
@if (openAddOrUpdateModal)
{
    <div class="fixed inset-0 bg-black/80 z-[99999] overflow-y-auto dark:bg-dark/90">
        <div class="flex items-center justify-center min-h-screen px-4" @onclick="CloseAddOrUpdateModal">
            <div class="relative w-full max-w-5xl p-0 my-8 overflow-hidden bg-white border rounded-lg border-black/10 dark:bg-darklight dark:border-darkborder" @onclick:stopPropagation>
                <div class="flex items-center justify-between px-5 py-3 bg-white border-b border-black/10 dark:bg-darklight dark:border-darkborder">
                    <MudText Typo="Typo.h5" Class="text-lg font-semibold text-slate-800 dark:text-slate-100">@_titleAddOrUpdate</MudText>
                    <MudButton Class="text-muted hover:text-black dark:hover:text-white" OnClick="CloseAddOrUpdateModal">
                        <svg class="w-5 h-5" width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M24.2929 6.29289L6.29289 24.2929C6.10536 24.4804 6 24.7348 6 25C6 25.2652 6.10536 25.5196 6.29289 25.7071C6.48043 25.8946 6.73478 26 7 26C7.26522 26 7.51957 25.8946 7.70711 25.7071L25.7071 7.70711C25.8946 7.51957 26 7.26522 26 7C26 6.73478 25.8946 6.48043 25.7071 6.29289C25.5196 6.10536 25.2652 6 25 6C24.7348 6 24.4804 6.10536 24.2929 6.29289Z" fill="currentcolor" />
                            <path d="M7.70711 6.29289C7.51957 6.10536 7.26522 6 7 6C6.73478 6 6.48043 6.10536 6.29289 6.29289C6.10536 6.48043 6 6.73478 6 7C6 7.26522 6.10536 7.51957 6.29289 7.70711L24.2929 25.7071C24.4804 25.8946 24.7348 26 25 26C25.2652 26 25.5196 25.8946 25.7071 25.7071C25.8946 25.5196 26 25.2652 26 25C26 24.7348 25.8946 24.4804 25.7071 24.2929L7.70711 6.29289Z" fill="currentcolor" />
                        </svg>
                    </MudButton>
                </div>
                <div class="p-5 space-y-4">
                    <EditForm Model="@SelectedItem" OnValidSubmit="OnValidSubmit">
                        <div class="text-black dark:text-muted">
                            <div class="grid grid-cols-1 mb-2 gap-4 md:grid-cols-3">
                                <div class="space-y-2 md:col-span-1">
                                    <label>Ngày ghi nhận*:</label>
                                    <input type="text"
                                           class="form-input date-picker"
                                           placeholder="Chọn ngày cấp"
                                           value="@(SelectedItem.thoi_diem_ghi_nhan?.ToString("dd/MM/yyyy"))"
                                           @onchange="@(e => OnDateChanged(e, nameof(SelectedItem.thoi_diem_ghi_nhan)))" />
                                </div>
                                <div class="space-y-2 md:col-span-2">
                                    <label>Tên đơn vị, cơ sở:</label>
                                    <BlazoredTypeahead EnableDropDown="true"
                                                       ShowDropDownOnFocus="true"
                                                       MinimumLength="0"
                                                       TItem="CoSoTrongTrotSanXuatModel"
                                                       TValue="CoSoTrongTrotSanXuatModel"
                                                       SearchMethod="LoadCoSoTrongTrotSanXuatData"
                                                       @bind-Value="SelectedItem.co_so_trong_trot_san_xuat"
                                                       placeholder="Chọn đơn vị, cơ sở"
                                                       Class="form-select">
                                        <SelectedTemplate Context="item">
                                            @item.name
                                        </SelectedTemplate>
                                        <ResultTemplate Context="item">
                                            @item.name
                                        </ResultTemplate>
                                        <NotFoundTemplate Context="item">
                                            Không tìm thấy dữ liệu
                                        </NotFoundTemplate>
                                    </BlazoredTypeahead>
                                </div>
                            </div>
                            <div class="grid grid-cols-1 mb-2 gap-4 md:grid-cols-2">
                                <div class="space-y-2 md:col-span-2">
                                    <label>Địa điểm sản xuất:</label>
                                    <input type="text" class="form-input" @bind-value="@SelectedItem.dia_diem_san_xuat" Label="Nhập địa điểm sản xuất" />
                                </div>
                            </div>
                            <div class="grid grid-cols-1 mb-2 gap-4 md:grid-cols-3">
                                <div class="space-y-2 md:col-span-1">
                                    <label>Tỉnh thành:</label>
                                    <BlazoredTypeahead EnableDropDown="true"
                                                       ShowDropDownOnFocus="true"
                                                       MinimumLength="0"
                                                       TItem="TinhModel"
                                                       TValue="TinhModel"
                                                       SearchMethod="LoadTinhData"
                                                       Value="SelectedItem.province"
                                                       ValueExpression="@(() => SelectedItem.province)"
                                                       ValueChanged="OnTinhChanged"
                                                       placeholder="Chọn tỉnh thành"
                                                       Class="form-select">
                                        <SelectedTemplate Context="item">
                                            @item.name
                                        </SelectedTemplate>
                                        <ResultTemplate Context="item">
                                            @item.name
                                        </ResultTemplate>
                                        <NotFoundTemplate Context="item">
                                            Không tìm thấy dữ liệu
                                        </NotFoundTemplate>
                                    </BlazoredTypeahead>
                                </div>
                                <div class="space-y-2 md:col-span-2">
                                    <label>Xã phường:</label>
                                    <BlazoredTypeahead EnableDropDown="true"
                                                       ShowDropDownOnFocus="true"
                                                       MinimumLength="0"
                                                       TItem="XaPhuongModel"
                                                       TValue="XaPhuongModel"
                                                       SearchMethod="LoadXaData"
                                                       @bind-Value="SelectedItem.ward"
                                                       placeholder="Chọn xã phường"
                                                       Class="form-select">
                                        <SelectedTemplate Context="item">
                                            @item.name
                                        </SelectedTemplate>
                                        <ResultTemplate Context="item">
                                            @item.name
                                        </ResultTemplate>
                                        <NotFoundTemplate Context="item">
                                            Không tìm thấy dữ liệu
                                        </NotFoundTemplate>
                                    </BlazoredTypeahead>
                                </div>
                                <div class="space-y-2 md:col-span-1">
                                    <label>Từ ngày:</label>
                                    <input type="text"
                                           class="form-input date-picker"
                                           placeholder="Chọn từ ngày"
                                           value="@(SelectedItem.thoi_gian_bi_benh_tu?.ToString("dd/MM/yyyy"))"
                                           @onchange="@(e => OnDateChanged(e, nameof(SelectedItem.thoi_gian_bi_benh_tu)))" />
                                </div>
                                <div class="space-y-2 md:col-span-1">
                                    <label>Đến ngày:</label>
                                    <input type="text"
                                           class="form-input date-picker"
                                           placeholder="Chọn đến ngày"
                                           value="@(SelectedItem.thoi_gian_bi_benh_den?.ToString("dd/MM/yyyy"))"
                                           @onchange="@(e => OnDateChanged(e, nameof(SelectedItem.thoi_gian_bi_benh_den)))" />
                                </div>
                                <div class="space-y-2 md:col-span-1">
                                    <label>Cây trồng</label>
                                    <BlazoredTypeahead EnableDropDown="true"
                                                       ShowDropDownOnFocus="true"
                                                       MinimumLength="0"
                                                       TItem="CayGiongCayTrongModel"
                                                       TValue="CayGiongCayTrongModel"
                                                       SearchMethod="LoadCayGiongCayTrongData"
                                                       @bind-Value="SelectedItem.cay_trong"
                                                       placeholder="Chọn cây trồng"
                                                       Class="form-select">
                                        <SelectedTemplate Context="item">
                                            @item.name
                                        </SelectedTemplate>
                                        <ResultTemplate Context="item">
                                            @item.name
                                        </ResultTemplate>
                                        <NotFoundTemplate Context="item">
                                            Không tìm thấy dữ liệu
                                        </NotFoundTemplate>
                                    </BlazoredTypeahead>
                                </div>
                            </div>
                            <div class="grid grid-cols-1 mb-2 gap-4 md:grid-cols-2">
                                <div class="space-y-2 md:col-span-1">
                                    <label>Tổng diện tích bị nhiễm (ha)</label>
                                    <input type="text" class="form-input" readonly Label="Nhập mức độ thiệt hại" value="@SelectedItemsDetail.Sum(c => c.dien_tich)" />
                                </div>
                                <div class="space-y-2 md:col-span-1">
                                    <label>Mùa vụ</label>
                                    <select class="form-select" @bind-value="@SelectedItem.mua_vu" @bind-value:event="onchange">
                                        @foreach (var item in _muaVuList)
                                        {
                                            <option value="@item" selected="@(SelectedItem.mua_vu == item)">@item.GetDescription()</option>
                                        }
                                    </select>
                                </div>
                                <div class="space-y-2 md:col-span-2">
                                    <label>Nguyên nhân:</label>
                                    <textarea rows="3" class="form-input form-textarea" @bind="@SelectedItem.nguyen_nhan"></textarea>
                                </div>
                                <div class="space-y-2 md:col-span-2">
                                    <label>Nhận định tình hình:</label>
                                    <input type="text" class="form-input" @bind-value="@SelectedItem.muc_do_thiet_hai" Label="Nhận định tình hình" />
                                </div>
                                <div class="space-y-2 md:col-span-2">
                                    <label>Biện pháp phòng trừ:</label>
                                    <textarea rows="3" class="form-input form-textarea" @bind="@SelectedItem.bien_phap_phong_tru"></textarea>
                                </div>
                                <div class="space-y-2 md:col-span-2">
                                    <label>Văn bản chỉ đạo:</label>
                                    <textarea rows="3" class="form-input form-textarea" @bind="@SelectedItem.ho_tro_tu_co_quan_quan_ly"></textarea>
                                </div>
                                <div class="space-y-2 md:col-span-2">
                                    <label class="font-weight">Thông tin chi tiết thiệt hại theo cây trồng:</label>
                                </div>
                                <div class="space-y-2 md:col-span-2">
                                    <table id="chitiet" class="display" style="width:100%">
                                        <thead>
                                            <tr>
                                                <th>STT</th>
                                                <th>Tên cây trồng</th>
                                                <th>Mức nhẹ (ha)</th>
                                                <th>Mức trung bình (ha)</th>
                                                <th>Mức nặng (ha)</th>
                                                <th>Mất trắng (ha)</th>
                                                <th>Mức độ ảnh hưởng</th>
                                                <th class="flex items-center gap-2">Tác vụ</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var item in SelectedItemsDetail.Where(c => c.deleted == null || c.deleted == false).Select((v, i) => new { Data = v, Index = i }))
                                            {
                                                <tr>
                                                    <td>@(item.Index + 1)</td>
                                                    <td>
                                                        <BlazoredTypeahead EnableDropDown="true"
                                                                           ShowDropDownOnFocus="true"
                                                                           MinimumLength="0"
                                                                           TItem="ViSinhVatGayHaiModel"
                                                                           TValue="ViSinhVatGayHaiModel"
                                                                           SearchMethod="LoadViSinhVatGayHaiData"
                                                                           @bind-Value="item.Data.vi_sinh_vat_gay_hai"
                                                                           placeholder="Chọn vi sinh vật gây hại"
                                                                           Class="form-select">
                                                            <SelectedTemplate Context="item">
                                                                @item.name
                                                            </SelectedTemplate>
                                                            <ResultTemplate Context="item">
                                                                @item.name
                                                            </ResultTemplate>
                                                            <NotFoundTemplate Context="item">
                                                                Không tìm thấy dữ liệu
                                                            </NotFoundTemplate>
                                                        </BlazoredTypeahead>
                                                    </td>
                                                    <td>
                                                        <input type="number" class="form-input" step="0.001" Label="Nhập diện tích mức nhẹ" value="@item.Data.muc_nhe" @onchange="@(e => OnValueChanged(e, nameof(item.Data.muc_nhe), item.Data))" />
                                                    </td>
                                                    <td>
                                                        <input type="number" class="form-input" step="0.001" Label="Nhập diện tích mức trung bình" value="@item.Data.muc_trung_binh" @onchange="@(e => OnValueChanged(e, nameof(item.Data.muc_trung_binh), item.Data))" />
                                                    </td>
                                                    <td>
                                                        <input type="number" class="form-input" step="0.001" Label="Nhập diện tích mức nặng" value="@item.Data.muc_nang" @onchange="@(e => OnValueChanged(e, nameof(item.Data.muc_nang), item.Data))" />
                                                    </td>
                                                    <td>
                                                        <input type="number" class="form-input" step="0.001" Label="Nhập diện tích mất trắng" value="@item.Data.mat_trang" @onchange="@(e => OnValueChanged(e, nameof(item.Data.mat_trang), item.Data))" />
                                                    </td>
                                                    <td>
                                                        <input class="form-input" Label="Nhập mức độ ảnh hưởng" @bind-value="@item.Data.muc_do_anh_huong" />
                                                    </td>
                                                    <td class="flex items-center gap-2">
                                                        <MudButton Class="transition-all duration-300 border btn-crud rounded-md btn text-danger border-danger hover:bg-danger hover:text-white"
                                                                   @onclick="@(e => OpenDetailDeleteModal(item.Data))">
                                                            <i class="ri-delete-bin-line"></i>
                                                        </MudButton>
                                                    </td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                    <MudButton Class="transition-all duration-300 border btn-crud rounded-md btn text-purple border-purple hover:bg-purple hover:text-white" OnClick="OnAddThietHai">Thêm dòng</MudButton>
                                </div>
                            </div>
                        </div>

                        <div class="flex items-center justify-end gap-2 py-4">
                            <MudButton Class="transition-all duration-300 border btn-crud rounded-md btn text-danger border-danger hover:bg-danger hover:text-white" OnClick="CloseAddOrUpdateModal">Huỷ</MudButton>
                            <MudButton Class="transition-all duration-300 border btn-crud rounded-md btn text-purple border-purple hover:bg-purple hover:text-white"
                                       OnClick="OnValidSubmit">Lưu</MudButton>
                        </div>
                    </EditForm>
                </div>
            </div>
        </div>
    </div>
}

@if (openDetailDeleteModal)
{
    <div class="fixed inset-0 bg-black/80 z-[99999] overflow-y-auto dark:bg-dark/90">
        <div class="flex items-center justify-center min-h-screen px-4" @onclick="CloseDetailDeleteModal">
            <div class="relative w-full max-w-lg p-0 my-8 overflow-hidden bg-white border rounded-lg border-black/10 dark:bg-darklight dark:border-darkborder" @onclick:stopPropagation>
                <div class="flex items-center justify-between px-5 py-3 bg-white border-b border-black/10 dark:bg-darklight dark:border-darkborder">
                    <MudText Typo="Typo.h5" Class="text-lg font-semibold text-slate-800 dark:text-slate-100">Xóa</MudText>
                    <MudButton Class="text-muted hover:text-black dark:hover:text-white" OnClick="CloseDetailDeleteModal">
                        <svg class="w-5 h-5" width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M24.2929 6.29289L6.29289 24.2929C6.10536 24.4804 6 24.7348 6 25C6 25.2652 6.10536 25.5196 6.29289 25.7071C6.48043 25.8946 6.73478 26 7 26C7.26522 26 7.51957 25.8946 7.70711 25.7071L25.7071 7.70711C25.8946 7.51957 26 7.26522 26 7C26 6.73478 25.8946 6.48043 25.7071 6.29289C25.5196 6.10536 25.2652 6 25 6C24.7348 6 24.4804 6.10536 24.2929 6.29289Z" fill="currentcolor" />
                            <path d="M7.70711 6.29289C7.51957 6.10536 7.26522 6 7 6C6.73478 6 6.48043 6.10536 6.29289 6.29289C6.10536 6.48043 6 6.73478 6 7C6 7.26522 6.10536 7.51957 6.29289 7.70711L24.2929 25.7071C24.4804 25.8946 24.7348 26 25 26C25.2652 26 25.5196 25.8946 25.7071 25.7071C25.8946 25.5196 26 25.2652 26 25C26 24.7348 25.8946 24.4804 25.7071 24.2929L7.70711 6.29289Z" fill="currentcolor" />
                        </svg>
                    </MudButton>
                </div>
                <div class="p-5 space-y-4">
                    <div class="text-black dark:text-muted">
                        <h3>Bạn có chắc chắn muốn xóa dữ liệu này không?</h3>
                    </div>
                    <div class="flex items-center justify-end gap-2">
                        <MudButton Class="transition-all duration-300 border btn-crud rounded-md btn text-danger border-danger hover:bg-danger hover:text-white" OnClick="CloseDetailDeleteModal">Huỷ</MudButton>
                        <MudButton OnClick="OnDetailDelete" Class="transition-all duration-300 border btn-crud rounded-md btn text-purple border-purple hover:bg-purple hover:text-white">Xóa</MudButton>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
