@page "/dl-cac-co-so-san-xuat-kinh-doanh-vat-tu-nong-nghiep"
@using CoreAdminWeb.Commons.Utils
@using CoreAdminWeb.Extensions
@using CoreAdminWeb.Model
@using CoreAdminWeb.Shared.Base
@inherits BlazorCoreBase
@layout MainLayout

<PageHeader Title="Dữ liệu các cơ sở sản xuất, kinh doanh vật tư nông nghiệp" 
pTitle="Dữ liệu các cơ sở sản xuất, kinh doanh vật tư nông nghiệp"></PageHeader>

<!-- Start All Card -->
<div class="flex flex-col gap-4 min-h-[calc(100vh-212px)]">
    <div class="grid grid-cols-1 gap-4">
        <div class="card">
            @if (IsLoading)
            {
                <div class="flex flex-col items-center justify-center gap-3">
                    <div class="w-full h-4 rounded-full bg-gray-200">
                        <div class="h-4 rounded-full bg-success animate-progress"
                             style="background-image: linear-gradient(45deg,hsla(0,0%,100%,.15) 25%,transparent 0,transparent 50%,hsla(0,0%,100%,.15) 0,hsla(0,0%,100%,.15) 75%,transparent 0,transparent); background-size: 1rem 1rem;">
                        </div>
                    </div>
                </div>
            }

            <div class="flex items-end justify-between flex-1 gap-2 sm:gap-4">
                <!-- Left: Filter Area -->
                <div class="w-full grid grid-cols-1 gap-4 md:grid-cols-4 xl:grid-cols-4 sm:gap-4 md:w-4/5 pb-2">
                    <div class="xs:col-span-4 sm:col-span-4 md:col-span-1 xl:col-span-1">
                        <MudForm>
                            <MudText Typo="Typo.h2" Class="mb-1 text-base font-semibold capitalize text-slate-800 dark:text-slate-100">Tỉnh thành</MudText>
                            <BlazoredTypeahead EnableDropDown="true"
                                               ShowDropDownOnFocus="true"
                                               MinimumLength="0"
                                               TItem="TinhModel"
                                               TValue="TinhModel"
                                               SearchMethod="LoadTinhData"
                                               @bind-Value="@_selectedTinhFilter"
                                               placeholder="Chọn tỉnh thành"
                                               Class="form-select">
                                <SelectedTemplate Context="item">
                                    @item.name
                                </SelectedTemplate>
                                <ResultTemplate Context="item">
                                    @item.name
                                </ResultTemplate>
                                <NotFoundTemplate Context="item">
                                    Không tìm thấy dữ liệu
                                </NotFoundTemplate>
                            </BlazoredTypeahead>
                        </MudForm>
                    </div>
                    <div class="xs:col-span-4 sm:col-span-4 md:col-span-1 xl:col-span-1">
                        <MudForm>
                            <MudText Typo="Typo.h2" Class="mb-1 text-base font-semibold capitalize text-slate-800 dark:text-slate-100">Xã phường</MudText>
                            <BlazoredTypeahead EnableDropDown="true"
                                               ShowDropDownOnFocus="true"
                                               MinimumLength="0"
                                               TItem="XaPhuongModel"
                                               TValue="XaPhuongModel"
                                               SearchMethod="LoadXaFilterData"
                                               @bind-Value="@_selectedXaFilter"
                                               placeholder="Chọn xã phường"
                                               Class="form-select">
                                <SelectedTemplate Context="item">
                                    @item.name
                                </SelectedTemplate>
                                <ResultTemplate Context="item">
                                    @item.name
                                </ResultTemplate>
                                <NotFoundTemplate Context="item">
                                    Không tìm thấy dữ liệu
                                </NotFoundTemplate>
                            </BlazoredTypeahead>
                        </MudForm>
                    </div>
                    <div class="xs:col-span-4 sm:col-span-4 md:col-span-1 xl:col-span-1">
                        <MudText Typo="Typo.h2" Class="mb-1 text-base font-semibold capitalize text-slate-800 dark:text-slate-100">Từ ngày cấp GCN</MudText>
                         <input type="text" 
                                   class="form-input date-picker"
                                   placeholder="Từ ngày cấp GCN"
                                   value="@(_fromDate?.ToString("dd/MM/yyyy"))"
                                   @onchange="@(e => OnDateChanged(e, "fromDate"))" />
                    </div>
                    <div class="xs:col-span-4 sm:col-span-4 md:col-span-1 xl:col-span-1">
                        <MudText Typo="Typo.h2" Class="mb-1 text-base font-semibold capitalize text-slate-800 dark:text-slate-100">Đến ngày cấp GCN</MudText>
                        <input type="text" 
                               class="form-input date-picker"
                               placeholder="Đến ngày cấp GCN"
                               value="@(_toDate?.ToString("dd/MM/yyyy"))"
                               @onchange="@(e => OnDateChanged(e, "toDate"))" />
                    </div>

                    <div class="xs:col-span-4 sm:col-span-4 md:col-span-3">
                        <MudForm class="flex-1">
                            <div class="relative">
                                <input type="text" id="search"
                                       class="border-black/10 dark:text-white/80 dark:placeholder:text-white/30 dark:border-darkborder dark:bg-dark dark:focus:border-white/30 focus:border-black/30 placeholder:text-black/50 border text-black text-sm rounded block w-full ltr:pl-3 rtl:pr-3 ltr:pr-7 rtl:pl-7 h-10 bg-[#f9fbfd] focus:ring-0 focus:outline-0"
                                       placeholder="Tìm kiếm..."
                                       required=""
                                       @bind-value="@_searchString"
                                       @bind-value:event="oninput"
                                       @onkeydown="async (e) => await OnInputKeyDownSearch(e, LoadData)">

                                <MudButton OnClick="LoadData" type="button" Class="absolute inset-y-0 flex items-center text-black ltr:right-0 rtl:left-0 ltr:pr-2 rtl:pl-2 dark:text-white/80">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="w-4 h-4">
                                        <path d="M11 2C15.968 2 20 6.032 20 11C20 15.968 15.968 20 11 20C6.032 20 2 15.968 2 11C2 6.032 6.032 2 11 2ZM11 18C14.8675 18 18 14.8675 18 11C18 7.1325 14.8675 4 11 4C7.1325 4 4 7.1325 4 11C4 14.8675 7.1325 18 11 18ZM19.4853 18.0711L22.3137 20.8995L20.8995 22.3137L18.0711 19.4853L19.4853 18.0711Z" fill="currentColor"></path>
                                    </svg>
                                </MudButton>
                            </div>
                        </MudForm>
                    </div>

                    <div class="flex items-end xs:col-span-4 sm:col-span-4 md:col-span-1 justify-end">
                        <div>
                            <MudButton Class="xs:w-full sm:w-auto md:w-auto btn flex items-center gap-1.5
                            bg-success border-success text-white hover:bg-success/[0.85]
                            hover:border-success/[0.85] text-nowrap" @onclick="@(e => OpenAddOrUpdateModal(null))">
                                <i class="ri-add-line"></i>
                                Thêm mới
                            </MudButton>
                        </div>
                    </div>
                </div>
            </div>
             <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
                    <table id="example" class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400" style="width:100%">
                        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                        <tr>
                            <th>STT</th>
                            <th>MS doanh nghiệp</th>
                            <th>Tên cơ sở</th>
                            <th>Loại hình kinh doanh</th>
                            <th>Số GCN</th>
                            <th>Ngày cấp</th>
                            <th>Ngày hết hiệu lực</th>
                            <th>Địa chỉ</th>
                            <th>Trạng thái</th>
                            <th class="flex items-center gap-2">Tác vụ</th>
                        </tr>
                    </thead>
                    <tbody>

                        @foreach (var item in MainModels.Select((v, i) => new { Data = v, Index = i }))
                        {
                            <tr>
                                <td>@(((Page - 1) * PageSize) + item.Index + 1)</td>
                                <td>@item.Data.code</td>
                                <td>@item.Data.name</td>
                                <td>@item.Data.loai_hinh_kinh_doanh?.name</td>
                                <td>@item.Data.so_giay_chung_nhan</td>
                                <td>@item.Data.ngay_cap?.ToString("dd/MM/yyyy")</td>
                                <td>@item.Data.ngay_het_hieu_luc?.ToString("dd/MM/yyyy")</td>
                                <td>@item.Data.dia_chi</td>
                                <td>@((MarkupString)item.Data.status.GetTrangThai())</td>
                                <td class="flex items-center gap-2">
                                    <MudButton Class="transition-all duration-300 border btn-crud rounded-md btn text-purple border-purple hover:bg-purple hover:text-white"
                                               @onclick="@(e => OpenAddOrUpdateModal(item.Data))">
                                        <i class="ri-edit-line"></i>
                                    </MudButton>
                                    <MudButton Class="transition-all duration-300 border btn-crud rounded-md btn text-danger border-danger hover:bg-danger hover:text-white"
                                               @onclick="@(e => OpenDeleteModal(item.Data))">
                                        <i class="ri-delete-bin-line"></i>
                                    </MudButton>
                                </td>
                            </tr>
                        }
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="9">
                                <div class="flex items-center justify-between p-4">
                                    <div class="flex items-center gap-2">
                                        <span>Hiển thị</span>
                                        <select class="form-select" @bind="PageSize" @bind:event="oninput" @onchange="async (e) => await OnPageSizeChanged(LoadData)">
                                            <option value="10">10</option>
                                            <option value="25">25</option>
                                            <option value="50">50</option>
                                            <option value="100">100</option>
                                        </select>
                                        <span>mục</span>
                                    </div>
                                    <div class="flex items-center gap-2">

                                        <div>
                                            <ul class="inline-flex my-2 -space-x-px list-inside">
                                                <li><MudLink Href="#" Class="px-3 py-2 bg-white border cursor-not-allowed ltr:ml-0 rtl:mr-0 ltr:rounded-l-lg rtl:rounded-r-lg text-black/50 border-black/10 dark:bg-transparent dark:text-darkmuted dark:border-darkborder" @onclick="async (e) => await PreviousPage(LoadData)" disabled="@(Page <= 1)">Trước</MudLink></li>
                                                @{
                                                    var startPage = Math.Max(1, Page - 1);
                                                    var endPage = Math.Min(TotalPages, Page + 1);

                                                    // Always show first page
                                                    <li>
                                                        <a href="#"
                                                           class="px-3 py-2 text-black  border border-black/10 hover:bg-purple hover:text-white dark:bg-transparent dark:text-white dark:border-darkborder dark:hover:bg-purple dark:hover:text-white dark:hover:border-purple @(Page == 1 ? "bg-purple text-white" : "bg-white")"
                                                           @onclick="async (e) => await SelectedPage(1, LoadData)">1</a>
                                                    </li>

                                                    // Show ellipsis if needed
                                                    if (startPage > 2)
                                                    {
                                                        <li><span class="px-3 py-2">...</span></li>
                                                    }

                                                    // Show pages around current page
                                                    for (int i = startPage; i <= endPage; i++)
                                                    {
                                                        if (i > 1 && i < TotalPages)
                                                        {
                                                            <li>
                                                                <a href="#"
                                                                   class="px-3 py-2 text-black  border border-black/10
                                                                    hover:bg-purple hover:text-white dark:bg-transparent
                                                                    dark:text-white dark:border-darkborder dark:hover:bg-purple
                                                                    dark:hover:text-white dark:hover:border-purple @(Page == i ? "bg-purple text-white" : "bg-white")"
                                                                   @onclick="async (e) => await SelectedPage(i, LoadData)">@i</a>
                                                            </li>
                                                        }
                                                    }

                                                    // Show ellipsis if needed
                                                    if (endPage < TotalPages - 1)
                                                    {
                                                        <li><span class="px-3 py-2">...</span></li>
                                                    }

                                                    // Always show last page if there is more than one page
                                                    if (TotalPages > 1)
                                                    {
                                                        <li>
                                                            <a href="#"
                                                               class="px-3 py-2 text-black  border border-black/10 hover:bg-purple hover:text-white dark:bg-transparent dark:text-white dark:border-darkborder dark:hover:bg-purple dark:hover:text-white dark:hover:border-purple @(Page == TotalPages ? "bg-purple text-white" : "bg-white")"
                                                               @onclick="async (e) => await SelectedPage(TotalPages, LoadData)">@TotalPages</a>
                                                        </li>
                                                    }
                                                }
                                                <li><MudLink Href="#" Class="px-3 py-2 bg-white border cursor-not-allowed ltr:ml-0 rtl:mr-0 ltr:rounded-r-lg rtl:rounded-l-lg text-black/50 border-black/10 dark:bg-transparent dark:text-darkmuted dark:border-darkborder" @onclick="async (e) => await NextPage(LoadData)" disabled="@(Page >= TotalPages)">Sau</MudLink></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </tfoot>
                </table>
                </div>
        </div>
    </div>
</div>
<!-- End All Card -->
@if (openDeleteModal)
{
    <div class="fixed inset-0 bg-black/80 z-[99999] overflow-y-auto dark:bg-dark/90">
        <div class="flex items-center justify-center min-h-screen px-4" @onclick="CloseDeleteModal">
            <div class="relative w-full max-w-lg p-0 my-8 overflow-hidden bg-white border rounded-lg border-black/10 dark:bg-darklight dark:border-darkborder" @onclick:stopPropagation>
                <div class="flex items-center justify-between px-5 py-3 bg-white border-b border-black/10 dark:bg-darklight dark:border-darkborder">
                    <MudText Typo="Typo.h5" Class="text-lg font-semibold text-slate-800 dark:text-slate-100">Xóa</MudText>
                    <MudButton Class="text-muted hover:text-black dark:hover:text-white" OnClick="CloseDeleteModal">
                        <svg class="w-5 h-5" width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M24.2929 6.29289L6.29289 24.2929C6.10536 24.4804 6 24.7348 6 25C6 25.2652 6.10536 25.5196 6.29289 25.7071C6.48043 25.8946 6.73478 26 7 26C7.26522 26 7.51957 25.8946 7.70711 25.7071L25.7071 7.70711C25.8946 7.51957 26 7.26522 26 7C26 6.73478 25.8946 6.48043 25.7071 6.29289C25.5196 6.10536 25.2652 6 25 6C24.7348 6 24.4804 6.10536 24.2929 6.29289Z" fill="currentcolor" />
                            <path d="M7.70711 6.29289C7.51957 6.10536 7.26522 6 7 6C6.73478 6 6.48043 6.10536 6.29289 6.29289C6.10536 6.48043 6 6.73478 6 7C6 7.26522 6.10536 7.51957 6.29289 7.70711L24.2929 25.7071C24.4804 25.8946 24.7348 26 25 26C25.2652 26 25.5196 25.8946 25.7071 25.7071C25.8946 25.5196 26 25.2652 26 25C26 24.7348 25.8946 24.4804 25.7071 24.2929L7.70711 6.29289Z" fill="currentcolor" />
                        </svg>
                    </MudButton>
                </div>
                <div class="p-5 space-y-4">
                    <div class="text-black dark:text-muted">
                        <h3>Bạn có chắc chắn muốn xóa dữ liệu này không?</h3>
                    </div>
                    <div class="flex items-center justify-end gap-2">
                        <MudButton Class="transition-all duration-300 border btn-crud rounded-md btn text-danger border-danger hover:bg-danger hover:text-white" OnClick="CloseDeleteModal">Huỷ</MudButton>
                        <MudButton OnClick="async () => await OnDelete()" Class="transition-all duration-300 border btn-crud rounded-md btn text-purple border-purple hover:bg-purple hover:text-white">Xóa</MudButton>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
@if (openAddOrUpdateModal)
{
    <div class="fixed inset-0 bg-black/80 z-[99999] dark:bg-dark/90">
        <div class="flex items-center justify-center min-h-screen px-4" @onclick="CloseAddOrUpdateModal">
            <div class="relative w-full max-w-5xl p-0 my-8 overflow-y-auto bg-white border rounded-lg border-black/10 dark:bg-darklight dark:border-darkborder" style="max-height: 90vh;" @onclick:stopPropagation>
                <div class="flex items-center justify-between px-5 py-3 bg-white border-b border-black/10 dark:bg-darklight dark:border-darkborder">
                    <MudText Typo="Typo.h5" Class="text-lg font-semibold text-slate-800 dark:text-slate-100">@_titleAddOrUpdate</MudText>
                    <MudButton Class="text-muted hover:text-black dark:hover:text-white" OnClick="CloseAddOrUpdateModal">
                        <svg class="w-5 h-5" width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M24.2929 6.29289L6.29289 24.2929C6.10536 24.4804 6 24.7348 6 25C6 25.2652 6.10536 25.5196 6.29289 25.7071C6.48043 25.8946 6.73478 26 7 26C7.26522 26 7.51957 25.8946 7.70711 25.7071L25.7071 7.70711C25.8946 7.51957 26 7.26522 26 7C26 6.73478 25.8946 6.48043 25.7071 6.29289C25.5196 6.10536 25.2652 6 25 6C24.7348 6 24.4804 6.10536 24.2929 6.29289Z" fill="currentcolor" />
                            <path d="M7.70711 6.29289C7.51957 6.10536 7.26522 6 7 6C6.73478 6 6.48043 6.10536 6.29289 6.29289C6.10536 6.48043 6 6.73478 6 7C6 7.26522 6.10536 7.51957 6.29289 7.70711L24.2929 25.7071C24.4804 25.8946 24.7348 26 25 26C25.2652 26 25.5196 25.8946 25.7071 25.7071C25.8946 25.5196 26 25.2652 26 25C26 24.7348 25.8946 24.4804 25.7071 24.2929L7.70711 6.29289Z" fill="currentcolor" />
                        </svg>
                    </MudButton>
                </div>
                <div class="p-5 space-y-4">
                    <EditForm Model="@SelectedItem" OnValidSubmit="OnValidSubmit" class="overflow-y-auto">
                        <div class="text-black dark:text-muted">
                            <div class="grid grid-cols-1 gap-4 md:grid-cols-2">
                                <div class="space-y-2 md:col-span-1">
                                    <label>Mã số doanh nghiệp <span class="text-danger">*</span></label>
                                    <input type="text" class="form-input" @bind="@SelectedItem.code" Label="Mã số doanh nghiệp" />
                                </div>

                                <div class="space-y-2 md:col-span-1">
                                    <label>Tên cơ sở <span class="text-danger">*</span></label>
                                    <input type="text" class="form-input" @bind="@SelectedItem.name" Label="Tên cơ sở" />
                                </div>

                                <div class="space-y-2 md:col-span-1">
                                    <label>Tỉnh thành</label>
                                    <BlazoredTypeahead EnableDropDown="true"
                                               ShowDropDownOnFocus="true"
                                               MinimumLength="0"
                                               TItem="TinhModel"
                                               TValue="TinhModel"
                                               SearchMethod="LoadTinhData"
                                               Value="SelectedItem.province"
                                               ValueExpression="@(() => SelectedItem.province)"
                                               ValueChanged="@(e => SelectedItem.province = e)"
                                               placeholder="Chọn tỉnh thành"
                                               Class="form-select">
                                        <SelectedTemplate Context="item">
                                            @item.name
                                        </SelectedTemplate>
                                        <ResultTemplate Context="item">
                                            @item.name
                                        </ResultTemplate>
                                        <NotFoundTemplate Context="item">
                                            Không tìm thấy dữ liệu
                                        </NotFoundTemplate>
                                    </BlazoredTypeahead>
                                </div>
                                <div class="space-y-2 md:col-span-1">
                                    <label>Xã phường</label>
                                    <BlazoredTypeahead EnableDropDown="true"
                                               ShowDropDownOnFocus="true"
                                               MinimumLength="0"
                                               TItem="XaPhuongModel"
                                               TValue="XaPhuongModel"
                                               SearchMethod="LoadXaCRUDData"
                                               Value="SelectedItem.ward"
                                               ValueExpression="@(() => SelectedItem.ward)"
                                               ValueChanged="@(e => SelectedItem.ward = e)"
                                               placeholder="Chọn xã phường"
                                               Class="form-select">
                                        <SelectedTemplate Context="item">
                                            @item.name
                                        </SelectedTemplate>
                                        <ResultTemplate Context="item">
                                            @item.name
                                        </ResultTemplate>
                                        <NotFoundTemplate Context="item">
                                            Không tìm thấy dữ liệu
                                        </NotFoundTemplate>
                                    </BlazoredTypeahead>
                                </div>

                                <div class="space-y-2 md:col-span-2">
                                    <label>Địa chỉ <span class="text-danger">*</span></label>
                                    <input type="text" class="form-input" @bind="@SelectedItem.dia_chi" Label="Địa chỉ" />
                                </div>

                                <div class="space-y-2 md:col-span-1">
                                    <label>Điện thoại</label>
                                    <input type="text" class="form-input" @bind="@SelectedItem.dien_thoai" Label="Điện thoại" />
                                </div>

                                <div class="space-y-2 md:col-span-1">
                                    <label>Đại diện</label>
                                    <input type="text" class="form-input" @bind="@SelectedItem.dai_dien" Label="Đại diện" />
                                </div>

                                <div class="space-y-2 md:col-span-1">
                                    <label>Loại hình kinh doanh</label>
                                    <BlazoredTypeahead EnableDropDown="true"
                                               ShowDropDownOnFocus="true"
                                               MinimumLength="0"
                                               TItem="QLCLLoaiHinhKinhDoanhModel"
                                               TValue="QLCLLoaiHinhKinhDoanhModel"
                                               SearchMethod="LoadLoaiHinhKinhDoanhData"
                                               Value="SelectedItem.loai_hinh_kinh_doanh"
                                               ValueExpression="@(() => SelectedItem.loai_hinh_kinh_doanh)"
                                               ValueChanged="@(e => SelectedItem.loai_hinh_kinh_doanh = e)"
                                               placeholder="Chọn loại hình kinh doanh"
                                               Class="form-select">
                                    <SelectedTemplate Context="item">
                                        @item.name
                                    </SelectedTemplate>
                                    <ResultTemplate Context="item">
                                        @item.name
                                    </ResultTemplate>
                                    <NotFoundTemplate Context="item">
                                        Không tìm thấy dữ liệu
                                    </NotFoundTemplate>
                                </BlazoredTypeahead>
                                </div>

                                <div class="space-y-2 md:col-span-1">
                                    <label>Số giấy chứng nhận:</label>
                                    <input type="text" class="form-input" @bind="@SelectedItem.so_giay_chung_nhan" Label="Số giấy chứng nhận" />
                                </div>

                                <div class="space-y-2 md:col-span-1">
                                  <label>Ngày cấp</label>
                                  <input type="text" 
                                        class="form-input date-picker"
                                        placeholder="Chọn ngày ghi nhận"
                                        value="@(SelectedItem.ngay_cap?.ToString("dd/MM/yyyy"))"
                                        @onchange="@(e => OnDateChanged(e, "ngay_cap"))" required />
                                </div>
                                
                                <div class="space-y-2 md:col-span-1">
                                   <label>Ngày hết hiệu lực</label>
                                   <input type="text" 
                                        class="form-input date-picker"
                                        placeholder="Chọn ngày hết hiệu lực"
                                        value="@(SelectedItem.ngay_het_hieu_luc?.ToString("dd/MM/yyyy"))"
                                        @onchange="@(e => OnDateChanged(e, "ngay_het_hieu_luc"))" required />
                                </div>

                                <div class="space-y-2 md:col-span-1">
                                    <label>Cơ quan cấp</label>
                                    <input type="text" class="form-input" @bind="@SelectedItem.co_quan_cap" Label="Cơ quan cấp" />
                                </div>

                                <div class="space-y-2 md:col-span-2">
                                    <label>Trạng thái hoạt động</label>
                                    <select class="form-select" @bind-value="@SelectedItem.status" @bind-value:event="onchange">
                                        @foreach (var item in StatusList)
                                        {
                                            <option value="@item">@item.GetDescription()</option>
                                        }
                                    </select>
                                </div>
                            </div>
                        </div>
                    </EditForm>

                    <div class="text-black dark:text-muted">
                        <div class="grid grid-cols-1 gap-4 md:grid-cols-2">
                            <div class="space-y-2 md:col-span-2">
                                <div x-data="{activeDefTab:'tab1'}" class="w-full">
                                    <ul class="flex flex-wrap text-sm text-center border-b border-black/10 dark:border-darkborder">
                                        <li class="ltr:mr-2 rtl:ml-2">
                                            <MudLink Href="javascript:;"
                                            OnClick="@(() => {OnTabChanged("tab1");})"
                                                    Class="@($"inline-block p-4 rounded-t-lg {(activeDefTab == "tab1" ? "bg-purple/10 text-purple" : "bg-transparent font-normal text-muted dark:hover:text-purple hover:bg-purple/10 hover:text-purple")}")">
                                                Sản phẩm
                                            </MudLink>
                                        </li>
                                    </ul>
                                    <div class="tab-content mt-3 text-[13px]">
                                        @switch (activeDefTab)
                                        {
                                            case "tab1":
                                                <div class="text-black dark:text-muted">
                                                    <div class="grid grid-cols-1 gap-4 md:grid-cols-2">
                                                        <div class="relative overflow-x-auto shadow-md sm:rounded-lg space-y-2 md:col-span-2">
                                                            <table id="chiTiet" class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400" style="width:100%">
                                                                <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                                                                    <tr>
                                                                        <th>STT</th>
                                                                        <th>Tên sản phẩm</th>
                                                                        <th class="flex items-center gap-2">Tác vụ</th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    @foreach (var item in SelectedSanPhamItemsDetail.Where(c => c.deleted == null || c.deleted == false).Select((v, i) => new { Data = v, Index = i }))
                                                                    {
                                                                        <tr>
                                                                            <td>@(item.Index + 1)</td>
                                                                            <td>
                                                                                <BlazoredTypeahead EnableDropDown="true"
                                                                                                ShowDropDownOnFocus="true"
                                                                                                MinimumLength="0"
                                                                                                TItem="QLCLSanPhamSanXuatModel"
                                                                                                TValue="QLCLSanPhamSanXuatModel"
                                                                                                SearchMethod="LoadSanPhamData"
                                                                                                @bind-Value="item.Data.san_pham"
                                                                                                placeholder="Chọn sản phẩm"
                                                                                                Class="form-select">
                                                                                    <SelectedTemplate Context="item">
                                                                                        @item.name
                                                                                    </SelectedTemplate>
                                                                                    <ResultTemplate Context="item">
                                                                                        @item.name
                                                                                    </ResultTemplate>
                                                                                    <NotFoundTemplate Context="item">
                                                                                        Không tìm thấy dữ liệu
                                                                                    </NotFoundTemplate>
                                                                                </BlazoredTypeahead>
                                                                            </td>
                                                                            <td class="flex items-center gap-2">
                                                                                <MudButton Class="transition-all duration-300 border btn-crud rounded-md btn text-danger border-danger hover:bg-danger hover:text-white"
                                                                                        @onclick="@(e => OpenSanPhamDetailDeleteModal(item.Data))">
                                                                                    <i class="ri-delete-bin-line"></i>
                                                                                </MudButton>
                                                                            </td>
                                                                        </tr>
                                                                    }
                                                                </tbody>
                                                            </table>
                                                            <MudButton Class="transition-all duration-300 border btn-crud rounded-md btn text-purple border-purple hover:bg-purple hover:text-white" OnClick="OnAddSanPham">Thêm dòng</MudButton>
                                                        </div>
                                                    </div>
                                                </div>
                                                break;
                                            default:
                                                <div>
                                                    <p>
                                                        Select a tab to view content.
                                                    </p>
                                                </div>
                                                break;
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="flex items-center justify-end gap-2 py-4">
                        <MudButton Class="transition-all duration-300 border btn-crud rounded-md btn text-danger border-danger hover:bg-danger hover:text-white" OnClick="CloseAddOrUpdateModal">Huỷ</MudButton>
                        <MudButton Class="transition-all duration-300 border btn-crud rounded-md btn text-purple border-purple hover:bg-purple hover:text-white"
                                    OnClick="OnValidSubmit">Lưu</MudButton>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

@if (openSanPhamDetailDeleteModal)
{
    <div class="fixed inset-0 bg-black/80 z-[99999] overflow-y-auto dark:bg-dark/90">
        <div class="flex items-center justify-center min-h-screen px-4" @onclick="CloseSanPhamDetailDeleteModal">
            <div class="relative w-full max-w-lg p-0 my-8 overflow-hidden bg-white border rounded-lg border-black/10 dark:bg-darklight dark:border-darkborder" @onclick:stopPropagation>
                <div class="flex items-center justify-between px-5 py-3 bg-white border-b border-black/10 dark:bg-darklight dark:border-darkborder">
                    <MudText Typo="Typo.h5" Class="text-lg font-semibold text-slate-800 dark:text-slate-100">Xóa</MudText>
                    <MudButton Class="text-muted hover:text-black dark:hover:text-white" OnClick="CloseSanPhamDetailDeleteModal">
                        <svg class="w-5 h-5" width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M24.2929 6.29289L6.29289 24.2929C6.10536 24.4804 6 24.7348 6 25C6 25.2652 6.10536 25.5196 6.29289 25.7071C6.48043 25.8946 6.73478 26 7 26C7.26522 26 7.51957 25.8946 7.70711 25.7071L25.7071 7.70711C25.8946 7.51957 26 7.26522 26 7C26 6.73478 25.8946 6.48043 25.7071 6.29289C25.5196 6.10536 25.2652 6 25 6C24.7348 6 24.4804 6.10536 24.2929 6.29289Z" fill="currentcolor" />
                            <path d="M7.70711 6.29289C7.51957 6.10536 7.26522 6 7 6C6.73478 6 6.48043 6.10536 6.29289 6.29289C6.10536 6.48043 6 6.73478 6 7C6 7.26522 6.10536 7.51957 6.29289 7.70711L24.2929 25.7071C24.4804 25.8946 24.7348 26 25 26C25.2652 26 25.5196 25.8946 25.7071 25.7071C25.8946 25.5196 26 25.2652 26 25C26 24.7348 25.8946 24.4804 25.7071 24.2929L7.70711 6.29289Z" fill="currentcolor" />
                        </svg>
                    </MudButton>
                </div>
                <div class="p-5 space-y-4">
                    <div class="text-black dark:text-muted">
                        <h3>Bạn có chắc chắn muốn xóa dữ liệu này không?</h3>
                    </div>
                    <div class="flex items-center justify-end gap-2">
                        <MudButton Class="transition-all duration-300 border btn-crud rounded-md btn text-danger border-danger hover:bg-danger hover:text-white" OnClick="CloseSanPhamDetailDeleteModal">Huỷ</MudButton>
                        <MudButton OnClick="OnSanPhamDetailDelete" Class="transition-all duration-300 border btn-crud rounded-md btn text-purple border-purple hover:bg-purple hover:text-white">Xóa</MudButton>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
